*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
.container a,
.container h2,
button{
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: "Roboto", serif;
}

body{
    background-color: #FFFDD0;
}

.container a,
.container header{
    text-decoration: none;
    color: #FAF3DD;
}

header{
    padding: 30px 0;
    background-color: #8B0000;
    color: #fffbb2;
}

header nav li{
    display: inline;
    font-size: 18px;
}

header nav li a{
    color: #fffbb2;
    text-decoration: none;
    padding: 10px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
}

header .logo-container{
    display: flex;
    align-items: center;
}

header .logo-container img.logo{
    height: 35px;
    margin-right: 2px;
}

header h1{
    font-size: 24px;
}

#about h2{
    margin-top: 16px;
}

.face-site{
    margin-top: 16px;
    max-height: 500px;
}

#about h2,
p{
    margin-left: 40px;
}

#about p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#sign {
    display: flex;
    justify-content: flex-end; /* Move o conteúdo para a direita */
    position: relative; /* Permite ajuste adicional se necessário */
}

#sign .container {
    display: flex; /* Mantém o flex na estrutura interna */
    width: 200px; /* Ajusta o tamanho ao conteúdo */
    margin-top: -300px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h2{
    margin-bottom: 16px;
}

form button{
    background-color: #8B0000;
    color: #FAF3DD;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #a04040;
}

footer{
    background-color: #8B0000;
    color: #FAF3DD;
    padding: 16px 0;
    margin-top: 270px;
}

footer p{
    margin-left: 38%;
}

.articles img{
    width: 70%;
    margin-top: 20px;    
}

.articles h2{
    margin-top: 33px;
}

.articles p{
    margin-left: 1px;
    margin-top: 1%;
}